OOP/.vs/slnx.sqlite
OOP/.vs/VSWorkspaceState.json
OOP/.vs/OOP/FileContentIndex/171faf4c-7503-4758-8eab-b19daef42fb8.vsidx
OOP/.vs/OOP/FileContentIndex/dddacff1-b448-4b70-a5b5-6d84d0cca6da.vsidx
OOP/.vs/OOP/v17/.wsuo
OOP/.vs/OOP/v17/DocumentLayout.json
OOP/ConsoleApp1/ConsoleApp1.sln
OOP/ConsoleApp1/.vs/Bank_Account/DesignTimeBuild/.dtbcache.v2
OOP/ConsoleApp1/.vs/Bank_Account/FileContentIndex/94ea58e2-3263-4181-b55d-c27890a76ade.vsidx
OOP/ConsoleApp1/.vs/Bank_Account/v17/.futdcache.v2
OOP/ConsoleApp1/.vs/Bank_Account/v17/.suo
OOP/ConsoleApp1/.vs/Bank_Account/v17/DocumentLayout.json
OOP/ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
OOP/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/28e853f1-7d74-40f7-b712-0a056f6383da.vsidx
OOP/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/b3f6886b-a969-4bbe-bb55-13cd3fc0cf38.vsidx
OOP/ConsoleApp1/.vs/ConsoleApp1/v17/.futdcache.v2
OOP/ConsoleApp1/.vs/ConsoleApp1/v17/.suo
OOP/ConsoleApp1/.vs/ConsoleApp1/v17/DocumentLayout.json
OOP/ConsoleApp1/.vs/ProjectEvaluation/bank_account.metadata.v7.bin
OOP/ConsoleApp1/.vs/ProjectEvaluation/bank_account.projects.v7.bin
OOP/ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.metadata.v7.bin
OOP/ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.projects.v7.bin
OOP/ConsoleApp1/ConsoleApp1/ConsoleApp1.csproj
OOP/ConsoleApp1/ConsoleApp1/Program.cs
OOP/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.deps.json
OOP/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.dll
OOP/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.exe
OOP/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.pdb
OOP/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.runtimeconfig.json
OOP/ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
OOP/ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
OOP/ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
OOP/ConsoleApp1/ConsoleApp1/obj/project.assets.json
OOP/ConsoleApp1/ConsoleApp1/obj/project.nuget.cache
OOP/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
OOP/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/apphost.exe
OOP/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfo.cs
OOP/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
OOP/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.assets.cache
OOP/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.BuildWithSkipAnalyzers
OOP/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.CoreCompileInputs.cache
OOP/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.FileListAbsolute.txt
OOP/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.dll
OOP/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
OOP/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.genruntimeconfig.cache
OOP/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GlobalUsings.g.cs
OOP/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.pdb
OOP/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.sourcelink.json
OOP/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ref/ConsoleApp1.dll
OOP/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/refint/ConsoleApp1.dll
OOP/ConsoleApp1/ConsoleApp1/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
OOP/ConsoleApp1/ConsoleApp1/obj/Release/net8.0/ConsoleApp1.AssemblyInfo.cs
OOP/ConsoleApp1/ConsoleApp1/obj/Release/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
OOP/ConsoleApp1/ConsoleApp1/obj/Release/net8.0/ConsoleApp1.assets.cache
OOP/ConsoleApp1/ConsoleApp1/obj/Release/net8.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
OOP/ConsoleApp1/ConsoleApp1/obj/Release/net8.0/ConsoleApp1.GlobalUsings.g.cs
